<div>
    <ul class="navbar-nav mr-auto">
        <li class="alert alert-info mt-3">
            <a class="nav-link" asp-controller="Admin" asp-action="OrdersView">Get All Orders</a>
        </li>
        <li class="alert alert-info mt-3">
            <a class="nav-link" asp-controller="Admin" asp-action="AdminItemsView">Get All Items</a>
        </li>
    </ul>
</div>
