@model List<ShopCartItem>
<div> 
    @if(Model.Count != 0)
    {
        
        @foreach (var shopCartItem in Model.Where(x => x.OrderId == 0).ToList())
        {
            <div class="alert alert-warning mt-3">
                <p>Manufacturer: @shopCartItem.Item.Manufacturer</p>
                <p>ModelName: @shopCartItem.Item.ModelName</p>
                <p>Price: @shopCartItem.Item.Price</p>
                <p>
                    <a class="btn btn-warning" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-shopCartItemId="@shopCartItem.Id">Delete</a>
                </p>
            </div>
        }
        
        <p>
            <a class="btn btn-warning" asp-controller="Order" asp-action="OrderCreateView">Create Order</a>
        </p>
    }
    else
    {
        <div class="alert alert-info mt-3">
            <p>Your shop cart is empty:(</p>
        </div>
    }
    
    
</div>